.container-fluid.bg-white.mt-5
  .row
    .col-lg-4.p-4
      h3.h-font.fw-bold.fs-3.mb-2 Music
      p
        | Chúng tôi cam kết mang đến sự thoải mái và hài lòng tối đa cho người dùng
        |   cấp như những tính năng tốt như nghe ngẫu nhiên, nghe lặp lại và có cả danh sách
        |   bài hát yêu thích.
    .col-lg-4.p-4
      h5.mb-3 Đường dẫn
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="#") Trang chủ
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/topics") Chủ đề
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/songs") Bài hát
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/playlists") Danh sách phát
      br
    .col-lg-4.p-4
      h5.mb-3 Theo dõi chúng tôi
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href="#")
        i.bi.bi-twitter.me-1
        | Twitter
      br
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href="#")
        i.bi.bi-facebook.me-1
        | Facebook
      br
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href="#")
        i.bi.bi-instagram.me-1
        | Instagram
      br