.container-fluid.bg-white.mt-5
  .row
    .col-lg-4.p-4
      h3.h-font.fw-bold.fs-3.mb-2 Khách sạn
      p
        | Chúng tôi cam kết mang đến sự thoải mái và hài lòng tối đa với các phòng nghỉ tinh tế, tiện nghi cao
        |   cấp như giường êm ái, TV màn hình phẳng, Internet tốc độ cao và phòng tắm hiện đại. Quý Khách còn có
        |   thể tận hưởng hồ bơi, phòng gym, spa, nhà hàng ẩm thực phong phú và phòng hội nghị chuyên nghiệp.
    .col-lg-4.p-4
      h5.mb-3 Đường dẫn
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="#") Trang chủ
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="#") Phòng
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="#") Dịch vụ
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="#") Liên hệ
      br
    .col-lg-4.p-4
      h5.mb-3 Theo dõi chúng tôi
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href="#")
        i.bi.bi-twitter.me-1
        | Twitter
      br
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href="#")
        i.bi.bi-facebook.me-1
        | Facebook
      br
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href="#")
        i.bi.bi-instagram.me-1
        | Instagram
      br